* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
}

h1 {
    margin: 3rem auto;
    color: white;
    text-align: center;
    font-size: 3rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.box-flex {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.box {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    margin: 1rem;
    background-color: #1389b2;

}

.fizz {
    background-color: #0bd6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizzbuzz {
    background-color: #f0466f;
}